<div class="row">

    <div class="col-md-12">
        <!--登录之后的界面-->
        <div [ngSwitch]="isAuthenticated()">
            <div class="homeSlefList"  *ngSwitchCase="true">
                <div style="float: left">
                    <span style="width:50px;height: 50px;float: left" class="hipster img-fluid rounded"></span>
                </div>
                <div >
                    <span id="home-logged-message" *ngIf="account"> 欢迎您， {{account.login}} </span>
                </div>
            </div>
            <div class="homeSlefList" *ngSwitchCase="true" [routerLink]="['/stuff', stuff.id, 'edit']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                <span class="home-list "> 个人中心 </span> 
                <div class="home-list-span" >
                    <span> > </span>
                </div>
            </div>
            <div class="homeSlefList" *ngSwitchCase="true" (click)="payProperty()">
                <span class="home-list "> 本月账单 </span> 
                <div class="home-list-span" >
                    <span>{{currentMoney}} ￥</span>
                </div>
            </div>
            <div class="homeSlefList" *ngSwitchCase="true" [routerLink]="['/property-money', account.id, 'self']"  routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" >
                <span class="home-list "> 我的订单 </span> 
                <div class="home-list-span" >
                    <span> > </span>
                </div>
            </div>
            <div class="homeSlefList" *ngSwitchCase="true"  [routerLink]="['/property-serve', account.id, 'self']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                <span class="home-list "> 我的服务 </span> 
                <div class="home-list-span" >
                    <span> > </span>
                </div>
            </div>
            
            <div class=" alert alert-warning " *ngSwitchCase="false">
                <span>欢迎访问万科物业管理中心，请先登录</span>
            </div>
        </div>
    </div>
</div>
